table(class='spending_table table table-striped table-bordered')
  thead
    tr
      td
        div.spending_date Дата
      td
        div.spending_sum Сумма
      td
        div.spending_text Текст
      td
       div.spending_category Категория
      td
    tbody
      each item in items
        - var isEdit = 'edit' in item ? item.edit : false
        tr
          if isEdit
            td
              div.spending_date
                input(type='hidden' class='spending-id--input' value=item.id)
                input(type='text' class='form-control dateinput spending-date--input' name='date' value=item.date)
            td
              div.spending_sum
                input(type='text' class='form-control spending-sum--input' name='sum' value=item.sum)
            td
              div.spending_text
                input(type='text' class='form-control spending-text--input' name='text' value=item.text)
            td
              div.spending_category
                select(class='form-control spending-category--input' name='category')
                  each category in categories
                    option(value=category.id, selected=(category.id == item.categoryId))
                      =category.name
            td
              div.spending_action
                button(class='btn btn-default btn-sm spending_save')
                  span(class='glyphicon glyphicon-ok' aria-hidden='true')
          else
            td
              div.spending_date
                input(type='hidden' class='spending-id--input' value=item.id)
                =item.dateStr
            td
              div.spending_sum
                =item.sum
            td
              div.spending_text
                =item.text
            td
              div.spending_category
                =item.categoryName
            td
              div.spending_action
                div.action_wrapper
                  a(href='#' class='spending_edit')
                    span(class='glyphicon glyphicon-pencil' aria-hidden='true')
                  a(href='#' class='spending_delete')
                    span(class='glyphicon glyphicon-trash' aria-hidden='true')
